<ion-view view-title="Ciudades">
  <ion-content>    
    <div class="list">
      <label class="item item-radio">
        <input type="radio" name="group" ng-model="isChecked" ng-click="cancun()">
        <div class="item-content">
          Cancún
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" ng-click="mexico()">
        <div class="item-content">
          Mexico
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" ng-click="monterrey()">
        <div class="item-content">
          Monterrey
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
  </ion-content>
</ion-view>
